.categeory_options label{display: inline-block;margin-right:10px;}
.controls{line-height: 34px;}
.controls .check{margin-left:5px;}
.controls .dis{margin:0 5px;}
.printlayout{margin-bottom:10px;zoom:1;}
.printlayout button{float:right;}
.table .commod_id img {left:-152px;top:-70px;}
.table td{padding:5px 10px;}